.container {
  max-width: 960px !important;}

.bg-head-image{
    background: no-repeat 0 0 url("../img/header-bg.jpg");
    padding-bottom: 650px !important;
  }

  .no-pad {padding: 0px !important;}

.text-orange{ color: #ff9400;}

.btn-blue{ background-color: #1E88E5 !important;}

.bg-pink{ background-color:#e01c52;}

.font-size-22{ font-size: 22px; line-height: 28px;}
.bg-grey{ background-color: #fcfcfc;}

.bg-grey-dark{ background-color:#374659;}

.bg-green-light{ background-color: #bbff5e;}
.bg-pink-light{ background-color: #fa77c9;}
.bg-brown-light{ background-color: #e5d06f;}
.bg-purple-light{ background-color: #8d6bd7;}
